In [1]:
import pandas as pd

In [2]:
arr=[54, 43, 2, 1, 5]

for i in range(len(arr)):
    print(arr[i], end=" ")

54 43 2 1 5

In [3]:
arr=[54, 43, 2, 1, 5]
sum=0

for i in range(len(arr)):
    sum +=arr[i]
print(sum)

105

In [4]:
list1=[]
a=int(input("Enter the elements: "))
b=int(input("Enter the elements: "))
c=int(input("Enter the elements: "))

list1.append(a)
list1.append(b)
list1.append(c)
print(list1)

Enter the elements: 3
Enter the elements: 4
Enter the elements: 7
[3, 4, 7]

In [5]:
arr=[-12, 8, -7, 6, 12, -9, 14]

non_neg_int=[]

sum_non=0

for i in range(len(arr)):
    if arr[i]>=0:
        non_neg_int.append(arr[i])

print(non_neg_int)
for j in range(len(non_neg_int)):
    sum_non +=non_neg_int[j]

print("Sum =",sum_non)

avg=sum_non/len(non_neg_int)
print("Avg = ",avg)

[8, 6, 12, 14]
Sum = 40
Avg =  10.0

In [6]:
n = int(input("Enter a number: "))
sum_factors = 0

for i in range(1, n):
    if n % i == 0:
        sum_factors += i

if sum_factors == n:
    print("true")
else:
    print("false")

Enter a number: 30
false

In [7]:
stduents = {
    "student1": {
        "name": "John",
        "age": 21,
        "courses": ["Maths", "CompScience"]
    },
    "student2": {
        "name": "Jane",
        "age": 22,
        "courses": ["English", "History"]
    },
    "student3": {
        "name": "Dave",
        "age": 20,
        "courses": ["Biology", "Chemistry"]
    }
}

print(stduents['student1']['courses'])

['Maths', 'CompScience']

In [8]:
def max_num(a, b, c):
    if a >= b and a >= c:
        print("a is the maximum number",a)
    elif b >= a and b >= c:
        print("b is the maximum number",b)
    else:
        print("c is the maximum number",c)

max_num(5, 10, 3)

b is the maximum number 10

In [9]:
def is_prime(n):
    if n > 1:
        for i in range(2, n):
            if n % i == 0:
                print(n, "is not a prime number")
                break
        else:
            print(n, "is a prime number")
    else:
        print(n, "is not a prime number")

is_prime(11)

11 is a prime number

In [10]:
def factorial(n):
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    print("The factorial of", n, "is", factorial)

factorial(5)

The factorial of 5 is 120

In [11]:
def fibonacci(n):
    a=0
    b=1
    list1 = []

    for i in range(n):
        list1.append(a)
        c=a+b
        a=b
        b=c
    print(list1)

fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [12]:
def sum_list(lst):
    total = 0
    for num in lst:
        total += num
    print("sum of the list =",total)

sum_list([1, 2, 3, 4, 5])

sum of the list = 15

In [13]:
def mult_list(lst):
    product = 1
    for num in lst:
        product *= num
    print("multiplication of the list =",product)

mult_list([1, 2, 3, 4, 5])

multiplication of the list = 120

In [14]:
string = input("Enter a string: ")
n=0
print("Entered string is:",string)
for i in string:
    if i==i.upper():
        n+=1

print("Number of uppercase letters =",n)

Enter a string: arman
Entered string is: arman
Number of uppercase letters = 0

In [15]:
def max_num(a, b, c):
    if a >= b and a >= c:
        print("a is the maximum number",a)
    elif b >= a and b >= c:
        print("b is the maximum number",b)
    else:
        print("c is the maximum number",c)

a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))

max_num(a, b, c)

Enter first number: 3
Enter second number: 6
Enter third number: 9
c is the maximum number 9

In [16]:
def is_palindrome(s):
    if s == s[::-1]:
        print("Palindrome")
    else:
        print("Not a palindrome")

s = input("Enter a string: ")
print("the entered string is:",s)
is_palindrome(s)

Enter a string: arun
the entered string is: arun
Not a palindrome

In [17]:
def factors(n):
     for i in range(1, n + 1):
         if n % i == 0:
             print(i, end=" ")

factors(20)

1 2 4 5 10 20