In [ ]:
n=int(input("entr the no"))
for i in range(1,n+1):
  if i%2==0:
    print(i)

entr the no10
2
4
6
8
10

In [ ]:
n=int(input("entr the no"))
sum=0
for i in range(1,n+1):
  if(n>0 and n==int(n)):
    sum+=i
print(sum)

entr the no3
6

In [ ]:
n=input("entr char")
for i in n:
  print(i)

entr charar
a
r

In [ ]:
n=int(input("entr char"))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

entr char3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
n=int(input("entr no"))
i=1
while(i<=10):
  s=n*i
  print(n,"*",i,"=",s)
  i+=1

entr no3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30